<div class="contact-us-today-container">
  <div class="section-text">
    <div class="title">Contact us today</div>
    <div class="description">Brief into paragraph about this section. Bis porepelent quam nam ut raeptam facillo riberum sitatus aut propreperiata volrer.
    </div>
  </div>

  <div class="contact-form" [formGroup]="form">
    <div class="row">
      <input type="text" formControlName="fullname" placeholder="Full name *" autocomplete="off" />
      <input type="text" formControlName="emailAddress" placeholder="Email Address *" autocomplete="off" />
      <input type="text" formControlName="contactNumber" placeholder="Contact Number *" autocomplete="off" />
    </div>
    <div class="row">
      <select formControlName="bookAMeeting" name="book-meeting" id="book-meeting">
        <option value="" disabled selected>Book Meeting</option>
        <option value="Book Meeting 1">Book Meeting 1</option>
        <option value="Book Meeting 2">Book Meeting 2</option>
        <option value="Book Meeting 3">Book Meeting 3</option>
      </select>
      <select formControlName="preferredDay" name="preferred-day" id="preferred-day">
        <option value="" disabled selected>Preferred Day *</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
      </select>
      <select formControlName="preferredTime" name="preferred-time" id="preferred-time">
        <option value="" disabled selected>Preferred Time *</option>
        <option value="8:00 AM">8:00 AM</option>
        <option value="10:00 AM">10:00 AM</option>
        <option value="5:00 PM">5:00 PM</option>
      </select>
    </div>
    <div class="row">
      <textarea formControlName="message" rows="10" cols="50" placeholder="Message"></textarea>
    </div>
    <div class="actions">
      <button [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
    </div>
    <div>

    </div>
  </div>
</div>