<div class="kiwi-saver-container">
  <img [src]="imgPath + 'video-img.png'" />
  <div>
    <div class="title">Why have a financial adviser?</div>
    <div>
      <div class="description">
        Haven was created out of the need to simply do things better. With specialist advisers across a range of financial services, we will offer you the best, practical advice for your unique situation.
      </div>
      <div class="sub-description">
        Out financial advisers span the north and south island making us conveniently positioned wherever you need us.
      </div>
    </div>
    <div class="learn-more-advisers" (click)="onRoute()">
      <span>Learn more about our advisers</span>
      <img [src]="imgPath + 'white-arrow.png'" />
    </div>
  </div>
</div>